/* line 3, ../sass/base.scss */
.container {
  width: 90%;
  margin: 0 auto;
}
/* line 46, ../sass/_grids.scss */
.container:before, .container:after {
  content: "";
  display: table;
}
/* line 50, ../sass/_grids.scss */
.container:after {
  clear: both;
}

/* line 12, ../sass/base.scss */
.one, .two, .three, .four, .five, .six, .seven, .eight {
  height: 200px;
  font: 14px/190px Helvetica, sans-serif;
  text-align: center;
  border: 1px solid white;
  background: lightgrey;
}

/* line 20, ../sass/base.scss */
.three, .four {
  height: 100px;
  font: 14px/100px Helvetica, sans-serif;
  background: grey;
}

/* line 26, ../sass/base.scss */
.one {
  float: left;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: -33.33333%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 30, ../sass/base.scss */
.two {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 34, ../sass/base.scss */
.nested {
  float: left;
  width: 33.33333%;
  margin-left: 66.66667%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}

/* line 39, ../sass/base.scss */
.container2 {
  width: 90%;
  margin: 0 auto;
  background: #999;
}
/* line 46, ../sass/_grids.scss */
.container2:before, .container2:after {
  content: "";
  display: table;
}
/* line 50, ../sass/_grids.scss */
.container2:after {
  clear: both;
}

/* line 49, ../sass/base.scss */
.five {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-right: -25%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 53, ../sass/base.scss */
.six {
  float: left;
  width: 25%;
  margin-left: 25%;
  margin-right: -50%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 57, ../sass/base.scss */
.seven {
  float: left;
  width: 25%;
  margin-left: 50%;
  margin-right: -75%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 61, ../sass/base.scss */
.eight {
  float: left;
  width: 25%;
  margin-left: 75%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

@media screen and (max-width: 700px) {
  /* line 72, ../sass/base.scss */
  .one {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 76, ../sass/base.scss */
  .two {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 81, ../sass/base.scss */
  .nested {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    padding-left: 0;
    padding-right: 0;
    background: #ccc;
  }

  /* line 88, ../sass/base.scss */
  .three {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 93, ../sass/base.scss */
  .four {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 103, ../sass/base.scss */
  .five, .seven {
    clear: left;
    float: left;
    width: 50%;
    margin-left: 0%;
    margin-right: -50%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 108, ../sass/base.scss */
  .six, .eight {
    float: left;
    width: 50%;
    margin-left: 50%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
