body {
    background: #ffffff;
    margin: 0;
}

div {
    background: #cccccc;
    width: 960px;
    height: 400px;
    padding: 15px;
    margin: auto;
}

.shadow1 {
    box-shadow: 5px 5px rgba(125, 125, 125, 0.5);
}